html,body {
  margin: 0px;
  padding: 0px;
}
#start-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  #start-button {
    font-size: 24px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
#pause-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
#game-over-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    display: none; /* Caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
#playground {
    height: 100vh;
    width: 100%;
    background: url("data/desert_sand.jpg");
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }

  #playground * {
    position: absolute;
  }
  
  div.resources {
    display: none;
  }

  #score {
    position: absolute;
    top: 42px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    z-index: 1;
  }

  #timer {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    color: white;
    font-size: 32px;
    font-weight: bold;
  }

  #life {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 32px;
  }